.container {
  width: 100%;

  .countWidgets {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }

  .topChartsWrapper {
    display: flex;
    width: 100%;
    margin-top: 2rem;
    gap: 2rem;

    .chartContainer {
      flex: 1;
      padding: 1rem;
      box-shadow:
        0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);
    }
  }
}
