@import "@carbon/colors";

.container {
  min-height: 100vh;
  padding-left: 280px;
  padding-top: 70px;
  padding-right: 2rem;
}

.currentDate {
  color: $gray-70;
  font-size: smaller;
}

.profileInfo {
  color: $gray-70;
  font-size: small;
}
