@import "@carbon/colors";

.container {
  min-height: 100vh;
  padding-left: 2rem;
  padding-top: 70px;
  padding-right: 2rem;

  @media (min-width: 1056px) {
    padding-left: 280px;
  }
}

.currentDate {
  color: $gray-70;
  font-size: smaller;
}

.profileInfo {
  color: $gray-70;
  font-size: small;
}
